body {
    font-family: 'Indie Flower', cursive;
}

p::selection {
    background: #ffb7b7;
}

label {
    font-size: 12px;
}

a {
    text-decoration: none;
    color: #5a5a5a;
}

.fa {
    padding-left: 1%;
}

.container-top-padding {
    padding-top: 100px;
}

.centring {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about {
    float: right;
}

.error-message {
    color: #cf0000;
}


.registered {
    color: #00ac00;
}